# Preinstall requirements from TTS 

typing-extensions
cutlet
mecab-python3
unidic-lite
unidic
langid
deepspeed
pydub
gradio
numpy
spaces

# Vietnamese 101
vinorm
underthesea

TTS @ git+https://github.com/thinhlpg/TTS.git@ff217b3f27b294de194cc59c5119d1e08b06413c